	<h1 id="1">How to write jQuery plugin?</h1>
	<h2 id="101">前言</h2>
	<p>jQuery学习通常会经历三个阶段:</p>
	<ul>
		<li>会用jquery是第一阶段</li>
		<li>能抽象成插件是第二阶段</li>
		<li>让插件足够灵活强大是第三阶段</li>
	</ul>
	<h2 id="109">笔试</h2>
	<ul>
		<li><p>插件有几种？</p></li>
		<li><p>文中举了几个例子？分别用于阐述什么问题</p></li>
		<li><p>插件配置项有几种，举例说明</p></li>
		<li><p>如何重构代码</p></li>
		<li><p>grunt 是做什么的，如果使用grunt创建jQuery插件</p></li>
		<li><p>如何发布插件</p></li>
		<li><p>为什么缓存this</p></li>
	</ul>
	<pre>
		<button class="copy-code" onclick="copyCode(this)">代码复制</button>
		<code class="python">@requires_authorization
def somefunc(param1='', param2=0):
    r'''A docstring'''
    if param1 > param2: # interesting
        print 'Gre\'ater'
    return (param2 - param1 + 1 + 0b10l) or None

class SomeClass:
    pass

>>> message = '''interpreter
... prompt'''</code></pre>
